@charset "utf-8";
@function vw ($px) {
    // $px 形参（参数）
    // @return  返回值 结束函数
    @return ($px / 750) * 100vw;
}

@function vh ($px) {
    // $px 形参（参数）
    // @return  返回值 结束函数
    @return ($px / 1136) * 100vh;
}

blockquote,
body,
dd,
dir,
dl,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
menu,
ol,
optgroup,
p,
pre,
tbody,
td,
textarea,
tfoot,
th,
thead,
ul {
    margin: 0;
    padding: 0
}
.clearfix:before,.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
li{
    list-style: none;
    color: black;
}
a{
    text-decoration: none;
    color: black;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}