@import '../../../assets/scss/common.scss';
@import '@/assets/fonts/iconfont.css';
.iconfont{
    color: #c6c6c6;
    font-size: vw(40);
}
.header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: vw(122);
    display: flex;
    align-items: center;
    border-bottom: vw(1) solid #f3eded;
    .beijing{
        display: flex;
        flex: 2;
        justify-content: flex-end;
        .text{
            font-size: vw(30);
            color: #c6c6c6;
        }
        .icon-location{
            line-height: vw(35);
        }
        .icon-location::before{
            font-size: vw(30);
        }
    }
    .picture{
        flex: 6;
        display: flex;
        justify-content: center;
        img{
            height: vw(28);
            
        }
    }
    .search{
        flex: 1;
        display: flex;
        justify-content: center;
    }
    .shuxian{
        font-size: vw(1);
        color: #f3eded;
    }
    .mine{
        flex: 1;
        display: flex;
        justify-content: center;
        padding-right: vw(20);
        font-size: vw(80);
    }
}