@import '../../../assets/scss/common.scss';

@font-face {
    font-family: 'iconfont';
    src: url('@/assets/fonts/iconfont.eot');
    src: url('@/assets/fonts/iconfont.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/iconfont.woff2') format('woff2'),
        url('@/assets/fonts/iconfont.woff') format('woff'),
        url('@/assets/fonts/iconfont.ttf') format('truetype'),
        url('@/assets/fonts/iconfont.svg#iconfont') format('svg');
  }
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
.header{
    height: vw(122);
    display: flex;
    align-items: center;
    border-bottom: vw(1) solid #f3eded;
    .beijing{
        display: flex;
        flex: 2;
        justify-content: flex-end;
        .text{
            font-size: vw(30);
            color: #c6c6c6;
            // flex: 6;
        }
    }
    .picture{
        flex: 6;
        display: flex;
        justify-content: center;
        img{
            height: vw(28);
            
        }
    }
    .search{
        flex: 1
        span{
            // font-size: vw(20);
        }
        
    }
    .mine{
        flex: 1
    }
}