@import '@/assets/scss/common.scss';

$mainColor:black;
.active{
    color:$mainColor;
    // font-size: vw(40);
    font-weight: 700;
}
.tarbar{
    position: fixed;
    bottom: 0;
    display: flex;
    // flex: 1;
    width: 100vw;
    height: vw(100);
    background-color: #fff;
    li{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        // a{
        //     width: 100%;
        //     text-align: center;
        //     border-right: vw(1) solid black;
        // }
    }
}