@import '../../assets/scss/common.scss';
#tab-bar.demo {
    display: flex;
    flex-direction: column;
}
#tab-bar .demoName {
  height: 40px;
}
#tab-bar .demo-preview-item .am-tab-bar {
  background-color: white;
}
.homemain{
  margin-top: vw(126);
  .am-wingblank.am-wingblank-lg {
    margin: 0;
  }
  .am-wingblank {
      margin:0;
  }
}