@import './assets/scss/common.scss';

$mainColor:black;
 * {
    overflow: hidden;
}
.active{
    color:$mainColor;
    font-weight: 700;
}
.tarbar{
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100vw;
    height: vw(100);
    border-top: vw(1) solid rgb(175, 174, 174);
    li{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}