@import '../../assets/scss/common.scss';
@import '@/assets/fonts/iconfont.css';

.my {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #ffff;
  // overflow: visible!important;
  .main {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: vw(126);
    .topheader{
      width: 100%;
      height:vw(700);
      // background-color: blue;
      background-color: #EEEEEE;
      display: flex;
      justify-content: center;
      border:none;
      .mainContent {
        width: 95%;
        height:vw(400);
        position: relative;
        // bottom: 0;
        margin-top:vw(300) ;
        border-radius: vw(25) vw(25) 0 0;
        // background-color: red;
        background-color: #ffff;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .ico {
          width: vw(230);
          height:vw(230);
          margin-top:vw(30);
          border: vw(1) #c4c4c4 solid;
          border-radius: 50%;
          background-color: #ffff;
          display: flex;
          justify-content: center;
          align-items: center;
          .iconfont{
            font-size:vw(180);
            color:#c4c4c4;
          }
        }
        .text {
          height:vw(120);
          line-height:vw(50);
          font-size:vw(35);
          position:absolute;
          top:vw(290);
          text-align: center;

          .id {
          font-weight: bolder;
          // line-height:vw(50)
        }
        .change {
          font-size:vw(30);
          color:#c4c4c4;
        }
        }


      }
    }
  }
}